<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <title>Currency Converter</title>
    </head>
    <body>
        <div class="upper-row">
            <img class="logo" src="pickar_logo_white.png" alt="">
                <h1 class="title">Convert currencies in real-time.</h1>
                <div class="converter">
                    <form action="/" method="post">
                        <div class="converter__input-container">
                            <label for="amount">Amount</label>
                            <input id="amount" type="text" name="amount" placeholder="Enter amount" autocomplete="off">
                        </div>
                        <div class="converter__input-container converter__input-container--middle">
                            <label class="converter__label" for="from">From</label>
                            <select class="from" name="from">
                                <option value="" disabled selected>Select currency</option>
                                <% for (var i = 0; i < fromCurrencies.length; i++) { %>
                                    <option value=<%= fromCurrencies[i] %> > <%= fromCurrencies[i] %> </option>
                                <% } %>
                                <!-- <option value="EUR">EUR</option>
                                <option value="USD">USD</option>
                                <option value="CHF">CHF</option> -->
                            </select>
                        </div>
                        <img class="switcher" src="switcher.png" alt="">
                        <div class="converter__input-container converter__input-container--right">
                            <label for="to">To</label>
                            <select class="to" name="to">
                                <option value="" disabled selected>Select currency</option>
                                <% for (var i = 0; i < toCurrencies.length; i++) { %>
                                    <option value=<%= toCurrencies[i] %> > <%= toCurrencies[i] %> </option>
                                <% } %>
                                <!-- <option value="EUR">EUR</option>
                                <option value="USD">USD</option>
                                <option value="CHF">CHF</option> -->
                            </select>
                        </div>
                        <button class="converter__btn" type="subit">Convert</button>
                    </form>
                </div>
        </div>
        <div class="lower-row">
            <%- include("result") -%>
        </div>

    </body>
</html>
